html, body{
    margin: 0;
    padding: 0;
}    

header{
    background-color: #324ECD;
    height: 70px;
    width: 100%;
}

.section{

    display: flex;
    flex-flow: wrap;

    .box{
        &.b-yellow{
            height: auto;
            &#y500{
                background-color: #FCA969;
                min-height: 200px;
                flex-grow: 2;
            };
            
            &#y600{
                background-color: #C85904;
                height: 400px;
                flex-grow: 1;

            };
        }
        &.b-red{
            height: 150px;
            min-width: 33%;
            flex-grow: 1;

            &#r200{
                background-color: #FDE8EC;
            };

            &#r300{
                background-color: #FBD0D9;
            };

            &#r400{
                background-color: #F9B9C6;
            };

            &#r500{
                background-color: #EE4467;
            };

            &#r600{
                background-color: #BB1134;
            };

            &#r700{
                background-color: #A40F2E;
            };

        }
        &.b-blue{                
            background-color: #0E4871;
            height: 200px;
            min-width: 375px;
            margin: 10px;
            flex-grow: 1;
            
            flex-wrap: wrap;
        }
    } 

/* 
    &#yellow{}
    &#red{}
    &#blue{} */
}
